* {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
:root {
  --bg: rgb(39, 109, 100);
}
body {
  background: linear-gradient(
      39deg,
      rgba(24, 94, 119, 1) 0%,
      rgba(37, 144, 96, 1) 71%,
      rgba(29, 139, 48, 1) 100%
    )
    no-repeat;
  height: 100vh;
}
h1 {
  margin-bottom: 20px;
  background: var(--bg);
  color: #0c0b0b;
  height: 60px;
  font-size: 45px;
  border-radius: 0px 0px 20px 20px;
}
.form {
  text-align: center;
}
.form input,
.form button {
  margin: 5px;
  padding: 10px;
  height: 30px;
  width: 600px;
  font-size: 20px;
}
.form input {
  background: transparent;
  color: #0c0b0b;
  border: 1px solid rgba(36, 80, 72, 0.945);
  border-radius: 25px;
  box-shadow: 1px 2px 10px #242425;
  outline: #277265;
}
.form :is(input:focus) {
  background: linear-gradient(
    90deg,
    rgba(118, 191, 184, 0.9332107843137255) 0%,
    rgba(84, 154, 110, 0.9724264705882353) 49%,
    rgba(112, 193, 106, 1) 100%
  );
  border: 1px solid rgba(22, 51, 46, 0.945);
}
.bord {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  text-align: center;
}

.form button {
  width: 622px;
  height: 50px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(118, 191, 184, 0.9332107843137255) 0%,
    rgba(84, 154, 110, 0.9724264705882353) 49%,
    rgba(112, 193, 106, 1) 100%
  );
  outline: #277265;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 2px 10px #242425;

  font-size: 18px;
}
.form button:hover {
  background: linear-gradient(
    90deg,
    rgba(112, 179, 172, 0.933) 0%,
    rgba(72, 155, 103, 0.972) 49%,
    rgb(83, 170, 76) 100%
  );
  transition: 0.3s;
}

.posts {
  text-align: center;
}
.post {
  width: 70%;
  height: auto;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #131313;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(76, 190, 205, 1) 0%,
    rgba(75, 181, 79, 1) 53%,
    rgba(72, 171, 108, 1) 100%
  );
  box-shadow: 1px 2px 10px #242425;
}
.post button {
  width: 150px;
  height: 40px;
  margin: 5px;
  border: 1px solid #131313;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  background: rgba(60, 156, 95, 0.972);
  font-size: 16px;
}

.post button:hover {
  background: rgba(51, 124, 78, 0.972);
  transition: 0.3s;
}

.post input {
  margin: 5px;
  padding: 10px;
  height: 20px;
  width: 150px;
  border: 1px solid #131313;
  border-radius: 5px;
  font-size: 16px;
}
